@page
@model RagnarockWebApp.Pages.AudioTourModel
@{
    ViewData["Title"] = "Ultimate Audio Tour";
}

<div class="container-fluid">
    <h1 class="display-5 text-center text-white">Ragnarock Music Artefacts</h1>
    <img id="showcaseID" src="Images/IMG_20240416_115113.jpg" class="rounded img-fluid float-left" alt="Picture1" style="float: left;">
    <br>
    <img id="showcaseID" src="Images/IMG_20240416_115129.jpg" class="rounded img-fluid float-left" alt="Picture1">
    <br>
    <img id="showcaseID" src="Images/IMG_20240416_115206.jpg" class="rounded img-fluid float-left" alt="Picture1">
</div>

<div class="container">
    <img id="showcaseID" src="Images/IMG_20240416_115220.jpg" class="rounded img-fluid float-none" alt="Picture1">
</div>

<br>

<div class="container-fluid text-center text-white">
    <p>Click on the play button to listen to the tour of the museum (placeholder audio)</p>
    <audio controls="controls">
        <source src="Audio/The history of our world in 18 minutes David Christian TED.mp3" type="audio/mpeg" />
    </audio>
</div>