@page
@model IndexModel
@{
    ViewData["Title"] = "Ragnarock";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <audio controls="controls">
        <source src="Audio/The history of our world in 18 minutes David Christian TED.mp3" type="audio/mpeg" />
    </audio>
</div>
