@page
@model IndexModel
@{
    ViewData["Title"] = "Ragnarock";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <audio controls="controls">
        <source src="Audio/The history of our world in 18 minutes David Christian TED.mp3" type="audio/mpeg" />
    </audio>
</div>

<div class="container">
    <h1 class="display-5 text-center text-white">With responsiveness!</h1>
    <img id="showcaseID" src="Images/IMG_20240416_115113.jpg" class="rounded img-fluid" alt="Picture1">
    <img id="showcaseID" src="Images/IMG_20240416_115129.jpg" class="rounded img-fluid" alt="Picture1">
    <img id="showcaseID" src="Images/IMG_20240416_115206.jpg" class="rounded img-fluid" alt="Picture1">
    <img id="showcaseID" src="Images/IMG_20240416_115220.jpg" class="rounded img-fluid" alt="Picture1">
</div>

@* <div>
    <h1 class="display-5" id="testID">Without any responsiveness</h1>
    <div class="row">
        <div class="col" style="background-color:lightseagreen">row 1 - col 1</div>
        <div class="col" style="background-color:lightcoral">row 1 - col 2</div>
        <div class="col" style="background-color:lightblue">row 1 - col 3</div>
    </div>
    <div class="row">
        <div class="col" style="background-color:chocolate">row 2 - col 1</div>
        <div class="col" style="background-color:chartreuse">row 2 - col 2</div>
        <div class="col" style="background-color:cyan">row 2 - col 3</div>
    </div>
</div>

<div>
    <h1 class="display-5">With responsiveness!</h1>
    <div class="row">
        <div class="col-sm-4" style="background-color:lightseagreen">row 1 - col 1</div>
        <div class="col-sm-4" style="background-color:lightcoral">row 1 - col 2</div>
        <div class="col-sm-4" style="background-color:lightblue">row 1 - col 3</div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color:chocolate">row 2 - col 1</div>
        <div class="col-sm-4" style="background-color:chartreuse">row 2 - col 2</div>
        <div class="col-sm-4" style="background-color:cyan">row 2 - col 3</div>
    </div>
</div>

<p></p>

<div class="container bg-dark text-white">
    <h1 class="display-5">With responsiveness and container!</h1>
    <div class="row">
        <div class="col-md-2" style="background-color:lightseagreen">row 1 - col 1</div>
        <div class="col-md-8" style="background-color:lightcoral;text-align:center">@Model.TestVar</div>
        <div class="col-md-2" style="background-color:lightblue">row 1 - col 3</div>
    </div>
    <div class="row">
        <div class="col-md-2" style="background-color:chocolate">row 2 - col 1</div>
        <div class="col-md-8" style="background-color:chartreuse;text-align:center">@Model.TestVar.ToUpper()</div>
        <div class="col-md-2" style="background-color:cyan">row 2 - col 3</div>
    </div>
</div> *@